@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
	font-family: 'Ubuntu Mono', monospace;
	margin: 0;
	padding: 0;
}

#main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5vh;
	width: 95%;
	display: flex;
	flex-direction: row;
}

#bigbox {
	background-color: black;
	border: 1px solid black;
	width: 95vh;
    height: 95vh;
	position: relative;
	float:left;
}

#right {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 2vh;
}

.littleBox {
	box-shadow:0px 0px 0px 1px black inset;
	background-color: white;
	font-size: 25pt;
	position: absolute;
}

.littleBoxDark {
	box-shadow:0px 0px 0px 1px #292929 inset;
	background-color: white;
	font-size: 25pt;
	position: absolute;
}

.littleBoxOff {
	box-shadow:0px 0px 0px 0px black inset;
	background-color: white;
	font-size: 25pt;
	position: absolute;
}

.activebutton{
	border: 1px solid black; 
	box-shadow:0px 0px 0px 1px black inset; 
	color: #BBBBBB;
}

.selectedoption{
	font-weight: 900;
	color: black;
}

.inactivebutton{
	border: 1px solid #BBBBBB; 
	box-shadow:0px 0px 0px 1px #BBBBBB inset; 
	color: #BBBBBB;
}

.palettetile{
	border: 2px solid black; 
	border-radius: 7px; 
	width: 4vh; 
	height: 4vh; 
	margin: .25vh;
	color: #FF0000;
	font-size: 7vh;
	font-weight: 900;
	text-align: center;
	user-select: none;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

#paletteholder{
	/* background: #FFFFBB; */
	display: flex; 
	flex-wrap: wrap; 
	width: 24vh;
}

#paletteplus{
	position: relative; 
	bottom: 2vh;
}

#sidebutton {
	width: 20vh; 
	text-align: center; 
	font-size: 25pt;
	user-select: none;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

#bgcover {
	position: fixed;
	opacity: 0.8;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
}

.popup {
	position: fixed;
	border: 2px solid black; 
	box-shadow:0px 0px 0px 2px black inset; 
	text-align: center; 
	font-size: 5vh;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.smalltext {
	font-size: 3vh;
}

#popupclear {
	top: 20vh;
	bottom:20vh;
	left: 30vw;
	right: 30vw;
}

#popuphelp {
	top: 5vh;
	bottom:5vh;
	left: 15vw;
	right: 15vw;
}

#helptext {
	font-size: 3vmin;
	text-align: left;
	padding: 0 2vw 0 2vw;
}

#popupsave {
	top: 5vh;
	bottom: 5vh;
	left: 20vw;
	right: 20vw;
}

.saveloadtextbox{
	width: 20vw;
	font-size: 5vh;
	font-family: monospace;
}

#popupbuttonholder {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#cornerbox {
	position: fixed;
	color: black;
	top: 0;
	right: 0;
}

#smallbutton {
	border: 1px solid black; 
	box-shadow:0px 0px 0px 1px black inset; 
	color: black;
	background-color: white;
	margin: 1vw 1vw 1vw 1vw;
	text-align: center; 
	font-size: 5vh;
	user-select: none;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

#shiftup{
	position: relative; 
	bottom: .2vh;
}

.centerme {
	text-align: center;
}

.popupbutton {
	border: 1px solid black; 
	box-shadow:0px 0px 0px 1px black inset; 
	color: black;
	background-color: white;
	width: 30%; 
	text-align: center; 
	font-size: 5vh;
	user-select: none;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

#box0 {
	width: 50%;
	height: 50%;
	position: absolute;
	top:0%;
	left:0%;
}

#box1{
	width: 100%;
	height: 50%;
	position: absolute;
	top:50%;
	left:0%;
}

#box2{
	width: 25%;
	height: 25%;
	position: absolute;
	top:0%;
	left:50%;
}

#box3{
	width: 50%;
	height: 25%;
	position: absolute;
	top:25%;
	left:50%;
}

#box4{
	width: 25%;
	height: 25%;
	position: absolute;
	top:0%;
	left:75%;
}